$primary: #008b5d;
$secondary: #1688fe;
$danger: #f3627c;
$green: #008b5d;
$blue: #1688fe;
$yellow: #ffcd4a;
$gray: #727272;
$gray-light: rgba(#727272, 0.5);
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "green": $green,
  "blue": $blue,
  "yellow": $yellow,
  "gray": $gray,
  "gray-light": $gray-light,
  "white": #fff,
  "black": rgba(#000, 0.8),
  "trasparent": transparent,
);
// fonts
$font-base: 14px;
$font-size-xs: $font-base * 0.5;
$font-size-sm: $font-base * 0.75;
$font-size-md: $font-base;
$font-size-lg: $font-base * 1.5;
$font-size-xl: $font-base * 2;
$font-size-xxl: $font-base * 3;

// spacing
$base-padding: 0.25rem;
$base-margin: 0.25rem;

//border
$base-border-thickness: 1px;
$base-border-radius: 20px;
$border-color: #e2e2e9;

//gap
$gap-base: 5px;

//pages
$side-width: 300px;
$header-height: 50px;
