@use "sass:math";
.tst-app {
  .tst-side {
    max-height: 100vh;
    border: 1px solid $border-color;
    display: grid;
    grid-template-rows: $header-height calc(100% - calc($header-height * 2)) $header-height;
    font-size: 0.8em;
    &.active {
      @include lg-max {
        display: grid !important;
        grid-template-rows: calc(100% - $header-height) $header-height;
        position: absolute;
        background: #fff;
        width: 100%;
        height: 100%;
        top: 50px;
        z-index: 999;
        .tst-side__header {
          display: none;
        }
      }
    }
    &__header {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      border-bottom: 1px solid $border-color;
      padding: 0.8em;
    }
    &__content {
      padding: 0.8em;
      height: 100%;
      overflow: auto;
      ul {
        margin-left: 0;
        padding-left: 0;
        li {
          margin: 1em 0;
          position: relative;
          a {
            display: flex;
            align-items: center;
            gap: 5px;
            span {
              font-size: 1.2em;
              font-weight: 400;
              &.bold {
                font-weight: 600;
              }
            }
            img {
              width: 20px;
              height: 20px;
            }
          }

          .more {
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid $border-color;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            @include flexCenter;
            font-size: 1.1em;
            cursor: pointer;
          }
          .child {
            display: none;
            &.active {
              display: block;
            }
          }
        }
      }
    }
    &__footer {
      border-top: 1px solid $border-color;
      padding: 0.8em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .avatar {
        display: flex;
        align-items: center;
        gap: 5px;
        .tst-image {
          width: 35px;
          height: 35px;
          border: 2px solid $border-color;
          border-radius: 50%;
        }
        .name {
          font-weight: 600;
        }
      }
    }
  }
}
