.tst-image {
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.contain {
    img {
      object-fit: contain;
    }
  }
  &.cover {
    img {
      object-fit: cover;
    }
  }
}
