$textaera-height: 100px;
.tst-form {
  margin-bottom: 1em;
  position: relative;
  label {
    display: flex;
    padding: 0.5em 0.2em;
  }
  .prepend-icon {
    width: 40px;
    position: absolute;
    bottom: 0;
    height: 40px;
    @include flexCenter;
    border-right: 1px solid $border-color;
    transition: all 1s ease;
    i {
      font-size: 1.3em;
      color: #ccc;
    }
  }
  &:focus-within .prepend-icon {
    background: $blue;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    i {
      color: #fff;
    }
  }
  input,
  select {
    height: 40px;
    padding: 0 1em;
    font-size: $font-base;
    border-radius: 4px;
    width: 100%;
    font-weight: bold;
    @include borderDefault;
    &:focus {
      @include borderDefault;
      outline: none;
    }
    &::placeholder {
      color: #ccc; /* Change this to the desired color */
    }
  }

  textarea {
    width: 100%;
    border: none;
    outline: none;
    @include borderDefault;
    height: $textaera-height;
    padding: 1em;
    z-index: 2;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    transition: all 0.3s ease;
    position: relative;
    resize: vertical;
    font-size: $font-base;
    font-weight: bold;

    &:focus,
    &:valid,
    &:disabled {
      border-radius: 4px;
      background: #fff;
    }
    &::placeholder {
      color: #ccc; /* Change this to the desired color */
    }
  }
  .tst-checkbox {
    margin: 0.25em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      input[type="checkbox"] {
        display: none;
        display: none;
        + {
          .cr {
            > .cr-icon {
              opacity: 0;
            }
          }
        }
        &:checked {
          + {
            .cr {
              background: $primary;
              border: none;
              > .cr-icon {
                opacity: 1;
                opacity: 1;
              }
            }
          }
        }
        &:disabled {
          + {
            .cr {
              opacity: 0.5;
              opacity: 0.5;
            }
          }
        }
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    > span {
      font-weight: 500;
    }
    .cr {
      position: relative;
      display: inline-block;
      border: 2px solid #a9a9a9;
      border-radius: 0.25em;
      width: 20px !important;
      height: 20px !important;
      margin-right: 0.75em;
      background: #fff;

      .cr-icon {
        position: absolute;
        font-size: 0.9em;
        line-height: 0;
        top: 50%;
        left: 20%;
        color: #fff !important;
      }
    }
  }
}
