.tst-spinner-square {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 50px;

  > .square {
    width: 8px;
    height: 80px;
    margin: auto auto;
    border-radius: 4px;
  }

  .square-1 {
    animation: tst-square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s
      infinite;
  }

  .square-2 {
    animation: tst-square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95)
      200ms infinite;
  }

  .square-3 {
    animation: tst-square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95)
      400ms infinite;
  }
}

@keyframes tst-square-anim {
  0% {
    height: 30px;
    background-color: $primary;
  }
  20% {
    height: 30px;
  }
  40% {
    height: 50px;
    background-color: rgba($primary, 0.5);
  }
  80% {
    height: 30px;
  }
  100% {
    height: 30px;
    background-color: $primary;
  }
}

///
$spinner-base-color: #fff;
$background-color: #fff;

#loading-spinner {
  width: 100px;
  height: 100px;
  position: relative;
  .spinner {
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid $spinner-base-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .inner {
    border-top: 5px solid $primary;
    border-bottom: 5px solid $primary;
    width: 70px;
    height: 70px;
    margin: -35px;
    -webkit-animation: inner-spin 3s linear infinite;
    animation: inner-spin 3s linear infinite;
  }

  .outer {
    border-right: 5px solid $primary;
    border-left: 5px solid $primary;
    width: 90px;
    height: 90px;
    margin: -45px;
    -webkit-animation: outer-spin 3s linear infinite;
    animation: outer-spin 3s linear infinite;
  }

  .eye {
    width: 50px;
    height: 50px;
    border: none;
    background-color: $primary;
    animation: eye-flash 3s infinite;
  }

  @-webkit-keyframes inner-spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes inner-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes outer-spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate-(180deg);
    }
  }

  @keyframes outer-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-180deg);
    }
  }

  @keyframes eye-flash {
    0% {
      background-color: $primary;
    }
    50% {
      background-color: $spinner-base-color;
    }
    100% {
      background-color: $primary;
    }
  }
}
