@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin borderDefault {
  border: 1px solid #ededed;
}

@mixin btn($bg-color: transparent) {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid $border-color;
  background-color: $bg-color;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: $font-base;
  // padding: 8px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  i {
    font-size: $font-base;
    margin-right: 0.5em;
  }
}
