.text-primary {
  color: #008b5d !important;
}

.bg-primary {
  background-color: #008b5d !important;
  background-image: #008b5d !important;
}

.hover\:text-primary {
  transition: all 0.5s ease;
}
.hover\:text-primary:hover {
  color: #008b5d !important;
}

.hover\:bg-primary {
  transition: all 0.5s ease;
}
.hover\:bg-primary:hover {
  background-color: #008b5d !important;
  background-image: #008b5d !important;
}

.border-primary {
  border-color: #008b5d !important;
}

.text-secondary {
  color: #1688fe !important;
}

.bg-secondary {
  background-color: #1688fe !important;
  background-image: #1688fe !important;
}

.hover\:text-secondary {
  transition: all 0.5s ease;
}
.hover\:text-secondary:hover {
  color: #1688fe !important;
}

.hover\:bg-secondary {
  transition: all 0.5s ease;
}
.hover\:bg-secondary:hover {
  background-color: #1688fe !important;
  background-image: #1688fe !important;
}

.border-secondary {
  border-color: #1688fe !important;
}

.text-danger {
  color: #f3627c !important;
}

.bg-danger {
  background-color: #f3627c !important;
  background-image: #f3627c !important;
}

.hover\:text-danger {
  transition: all 0.5s ease;
}
.hover\:text-danger:hover {
  color: #f3627c !important;
}

.hover\:bg-danger {
  transition: all 0.5s ease;
}
.hover\:bg-danger:hover {
  background-color: #f3627c !important;
  background-image: #f3627c !important;
}

.border-danger {
  border-color: #f3627c !important;
}

.text-green {
  color: #008b5d !important;
}

.bg-green {
  background-color: #008b5d !important;
  background-image: #008b5d !important;
}

.hover\:text-green {
  transition: all 0.5s ease;
}
.hover\:text-green:hover {
  color: #008b5d !important;
}

.hover\:bg-green {
  transition: all 0.5s ease;
}
.hover\:bg-green:hover {
  background-color: #008b5d !important;
  background-image: #008b5d !important;
}

.border-green {
  border-color: #008b5d !important;
}

.text-blue {
  color: #1688fe !important;
}

.bg-blue {
  background-color: #1688fe !important;
  background-image: #1688fe !important;
}

.hover\:text-blue {
  transition: all 0.5s ease;
}
.hover\:text-blue:hover {
  color: #1688fe !important;
}

.hover\:bg-blue {
  transition: all 0.5s ease;
}
.hover\:bg-blue:hover {
  background-color: #1688fe !important;
  background-image: #1688fe !important;
}

.border-blue {
  border-color: #1688fe !important;
}

.text-yellow {
  color: #ffcd4a !important;
}

.bg-yellow {
  background-color: #ffcd4a !important;
  background-image: #ffcd4a !important;
}

.hover\:text-yellow {
  transition: all 0.5s ease;
}
.hover\:text-yellow:hover {
  color: #ffcd4a !important;
}

.hover\:bg-yellow {
  transition: all 0.5s ease;
}
.hover\:bg-yellow:hover {
  background-color: #ffcd4a !important;
  background-image: #ffcd4a !important;
}

.border-yellow {
  border-color: #ffcd4a !important;
}

.text-gray {
  color: #727272 !important;
}

.bg-gray {
  background-color: #727272 !important;
  background-image: #727272 !important;
}

.hover\:text-gray {
  transition: all 0.5s ease;
}
.hover\:text-gray:hover {
  color: #727272 !important;
}

.hover\:bg-gray {
  transition: all 0.5s ease;
}
.hover\:bg-gray:hover {
  background-color: #727272 !important;
  background-image: #727272 !important;
}

.border-gray {
  border-color: #727272 !important;
}

.text-gray-light {
  color: rgba(114, 114, 114, 0.5) !important;
}

.bg-gray-light {
  background-color: rgba(114, 114, 114, 0.5) !important;
  background-image: rgba(114, 114, 114, 0.5) !important;
}

.hover\:text-gray-light {
  transition: all 0.5s ease;
}
.hover\:text-gray-light:hover {
  color: rgba(114, 114, 114, 0.5) !important;
}

.hover\:bg-gray-light {
  transition: all 0.5s ease;
}
.hover\:bg-gray-light:hover {
  background-color: rgba(114, 114, 114, 0.5) !important;
  background-image: rgba(114, 114, 114, 0.5) !important;
}

.border-gray-light {
  border-color: rgba(114, 114, 114, 0.5) !important;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
  background-image: #fff !important;
}

.hover\:text-white {
  transition: all 0.5s ease;
}
.hover\:text-white:hover {
  color: #fff !important;
}

.hover\:bg-white {
  transition: all 0.5s ease;
}
.hover\:bg-white:hover {
  background-color: #fff !important;
  background-image: #fff !important;
}

.border-white {
  border-color: #fff !important;
}

.text-black {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.8) !important;
  background-image: rgba(0, 0, 0, 0.8) !important;
}

.hover\:text-black {
  transition: all 0.5s ease;
}
.hover\:text-black:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.hover\:bg-black {
  transition: all 0.5s ease;
}
.hover\:bg-black:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
  background-image: rgba(0, 0, 0, 0.8) !important;
}

.border-black {
  border-color: rgba(0, 0, 0, 0.8) !important;
}

.text-trasparent {
  color: transparent !important;
}

.bg-trasparent {
  background-color: transparent !important;
  background-image: transparent !important;
}

.hover\:text-trasparent {
  transition: all 0.5s ease;
}
.hover\:text-trasparent:hover {
  color: transparent !important;
}

.hover\:bg-trasparent {
  transition: all 0.5s ease;
}
.hover\:bg-trasparent:hover {
  background-color: transparent !important;
  background-image: transparent !important;
}

.border-trasparent {
  border-color: transparent !important;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  text-decoration: none;
  list-style-type: none;
  font-weight: 500;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 20px;
  scroll-behavior: smooth;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.no-overflow {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 2rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 2rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 2rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 2rem !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 2rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 2rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 2rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 2rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.o-10 {
  opacity: 0.1 !important;
}

.o-20 {
  opacity: 0.2 !important;
}

.o-30 {
  opacity: 0.3 !important;
}

.o-40 {
  opacity: 0.4 !important;
}

.o-50 {
  opacity: 0.5 !important;
}

.o-60 {
  opacity: 0.6 !important;
}

.o-70 {
  opacity: 0.7 !important;
}

.o-80 {
  opacity: 0.8 !important;
}

.o-90 {
  opacity: 0.9 !important;
}

.o-100 {
  opacity: 1 !important;
}

.border {
  border: 1px solid #e2e2e9 !important;
}

.border-1 {
  border: 1px solid #e2e2e9 !important;
}

.border-2 {
  border: 2px solid #e2e2e9 !important;
}

.border-3 {
  border: 3px solid #e2e2e9 !important;
}

.border-4 {
  border: 4px solid #e2e2e9 !important;
}

.border-5 {
  border: 5px solid #e2e2e9 !important;
}

.border-dashed-1 {
  border: 1px dashed #e2e2e9 !important;
}

.border-dashed-2 {
  border: 2px dashed #e2e2e9 !important;
}

.border-dashed-3 {
  border: 3px dashed #e2e2e9 !important;
}

.border-dashed-4 {
  border: 4px dashed #e2e2e9 !important;
}

.border-dashed-5 {
  border: 5px dashed #e2e2e9 !important;
}

.br {
  border-radius: 20px !important;
}

.br-none {
  border-radius: 0 !important;
}

.br-xs {
  border-radius: 5px !important;
}

.br-sm {
  border-radius: 10px !important;
}

.br-md {
  border-radius: 20px !important;
}

.br-lg {
  border-radius: 40px !important;
}

.br-round {
  border-radius: 50% !important;
}

.br-full {
  border-radius: 100% !important;
}

.d-n {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-grid {
  display: grid !important;
}

.gap-1 {
  gap: 5px !important;
}

.gap-2 {
  gap: 7.5px !important;
}

.gap-3 {
  gap: 10px !important;
}

.gap-4 {
  gap: 12.5px !important;
}

.gap-5 {
  gap: 15px !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.flex-inherit {
  flex-wrap: inherit !important;
}

.flex-initial {
  flex-wrap: initial !important;
}

.flex-unset {
  flex-wrap: unset !important;
}

.font-xs {
  font-size: 7px !important;
}

.font-sm {
  font-size: 10.5px !important;
}

.font-md {
  font-size: 14px !important;
}

.font-lg {
  font-size: 21px !important;
}

.font-xl {
  font-size: 28px !important;
}

.font-xxl {
  font-size: 42px !important;
}

.fs-normal {
  font-style: normal !important;
}

.fs-italic {
  font-style: italic !important;
}

.fs-oblique {
  font-style: oblique !important;
}

.justify-content-s {
  justify-content: start !important;
}

.justify-content-e {
  justify-content: end !important;
}

.justify-content-l {
  justify-content: left !important;
}

.justify-content-r {
  justify-content: right !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.justify-content-stretch {
  justify-content: space-stretch !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-s {
  align-items: start !important;
}

.align-items-e {
  align-items: end !important;
}

.align-items-l {
  align-items: left !important;
}

.align-items-r {
  align-items: right !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-self-start {
  align-items: self-start !important;
}

.align-items-self-end {
  align-items: self-end !important;
}

.w-auto {
  width: auto !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-full {
  width: 100% !important;
}

.h-auto {
  height: auto !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.h-full {
  height: 100% !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: -webkit-sticky !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semi-bold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-bold-large {
  font-weight: 800 !important;
}

.text-center {
  text-align: center !important;
}

.text-start {
  text-align: start !important;
}

.text-justify {
  text-align: justify !important;
}

.text-end {
  text-align: end !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-inherit {
  text-decoration: inherit !important;
}

.text-decoration-initial {
  text-decoration: initial !important;
}

.text-decoration-revert {
  text-decoration: revert !important;
}

.text-decoration-revert-layer {
  text-decoration: revert-layer !important;
}

.text-decoration-unset {
  text-decoration: unset !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.px-5 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-5 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.mx-5 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.my-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.tst-row {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 0) {
  .col-xs-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(8.3333333333% - 10px) !important;
  }
  .col-xs-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(16.6666666667% - 10px) !important;
  }
  .col-xs-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(25% - 10px) !important;
  }
  .col-xs-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(33.3333333333% - 10px) !important;
  }
  .col-xs-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(41.6666666667% - 10px) !important;
  }
  .col-xs-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(50% - 10px) !important;
  }
  .col-xs-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(58.3333333333% - 10px) !important;
  }
  .col-xs-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(66.6666666667% - 10px) !important;
  }
  .col-xs-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(75% - 10px) !important;
  }
  .col-xs-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(83.3333333333% - 10px) !important;
  }
  .col-xs-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(91.6666666667% - 10px) !important;
  }
  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% - 10px) !important;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(8.3333333333% - 10px) !important;
  }
  .col-sm-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(16.6666666667% - 10px) !important;
  }
  .col-sm-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(25% - 10px) !important;
  }
  .col-sm-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(33.3333333333% - 10px) !important;
  }
  .col-sm-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(41.6666666667% - 10px) !important;
  }
  .col-sm-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(50% - 10px) !important;
  }
  .col-sm-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(58.3333333333% - 10px) !important;
  }
  .col-sm-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(66.6666666667% - 10px) !important;
  }
  .col-sm-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(75% - 10px) !important;
  }
  .col-sm-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(83.3333333333% - 10px) !important;
  }
  .col-sm-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(91.6666666667% - 10px) !important;
  }
  .col-sm-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% - 10px) !important;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(8.3333333333% - 10px) !important;
  }
  .col-md-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(16.6666666667% - 10px) !important;
  }
  .col-md-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(25% - 10px) !important;
  }
  .col-md-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(33.3333333333% - 10px) !important;
  }
  .col-md-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(41.6666666667% - 10px) !important;
  }
  .col-md-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(50% - 10px) !important;
  }
  .col-md-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(58.3333333333% - 10px) !important;
  }
  .col-md-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(66.6666666667% - 10px) !important;
  }
  .col-md-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(75% - 10px) !important;
  }
  .col-md-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(83.3333333333% - 10px) !important;
  }
  .col-md-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(91.6666666667% - 10px) !important;
  }
  .col-md-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% - 10px) !important;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(8.3333333333% - 10px) !important;
  }
  .col-lg-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(16.6666666667% - 10px) !important;
  }
  .col-lg-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(25% - 10px) !important;
  }
  .col-lg-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(33.3333333333% - 10px) !important;
  }
  .col-lg-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(41.6666666667% - 10px) !important;
  }
  .col-lg-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(50% - 10px) !important;
  }
  .col-lg-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(58.3333333333% - 10px) !important;
  }
  .col-lg-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(66.6666666667% - 10px) !important;
  }
  .col-lg-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(75% - 10px) !important;
  }
  .col-lg-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(83.3333333333% - 10px) !important;
  }
  .col-lg-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(91.6666666667% - 10px) !important;
  }
  .col-lg-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% - 10px) !important;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(8.3333333333% - 10px) !important;
  }
  .col-xl-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(16.6666666667% - 10px) !important;
  }
  .col-xl-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(25% - 10px) !important;
  }
  .col-xl-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(33.3333333333% - 10px) !important;
  }
  .col-xl-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(41.6666666667% - 10px) !important;
  }
  .col-xl-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(50% - 10px) !important;
  }
  .col-xl-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(58.3333333333% - 10px) !important;
  }
  .col-xl-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(66.6666666667% - 10px) !important;
  }
  .col-xl-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(75% - 10px) !important;
  }
  .col-xl-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(83.3333333333% - 10px) !important;
  }
  .col-xl-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(91.6666666667% - 10px) !important;
  }
  .col-xl-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% - 10px) !important;
  }
}
.col-1 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(8.3333333333% - 10px);
}

.col-2 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(16.6666666667% - 10px);
}

.col-3 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(25% - 10px);
}

.col-4 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(33.3333333333% - 10px);
}

.col-5 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(41.6666666667% - 10px);
}

.col-6 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(50% - 10px);
}

.col-7 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(58.3333333333% - 10px);
}

.col-8 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(66.6666666667% - 10px);
}

.col-9 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(75% - 10px);
}

.col-10 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(83.3333333333% - 10px);
}

.col-11 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(91.6666666667% - 10px);
}

.col-12 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(100% - 10px);
}

.tst-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1em;
  border: 1px solid #e2e2e9;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.tst-card.no-border {
  border: none !important;
}
.tst-card.no-border .tst-card__header::after {
  background: none !important;
}
.tst-card__header {
  padding: 1em;
  position: relative;
}
.tst-card__header h2 {
  font-weight: 1.5em;
  font-weight: 700;
}
.tst-card__header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #ededed;
}
.tst-card__content {
  padding: 1em;
  overflow: auto;
}
.tst-card__footer {
  padding: 1em;
  position: relative;
}
.tst-card__footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: #ededed;
}

.tst-image {
  position: relative;
  overflow: hidden;
}
.tst-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tst-image.contain img {
  object-fit: contain;
}
.tst-image.cover img {
  object-fit: cover;
}

.tst-form {
  margin-bottom: 1em;
  position: relative;
}
.tst-form label {
  display: flex;
  padding: 0.5em 0.2em;
}
.tst-form .prepend-icon {
  width: 40px;
  position: absolute;
  bottom: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e2e2e9;
  transition: all 1s ease;
}
.tst-form .prepend-icon i {
  font-size: 1.3em;
  color: #ccc;
}
.tst-form:focus-within .prepend-icon {
  background: #1688fe;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.tst-form:focus-within .prepend-icon i {
  color: #fff;
}
.tst-form input,
.tst-form select {
  height: 40px;
  padding: 0 1em;
  font-size: 14px;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  border: 1px solid #ededed;
}
.tst-form input:focus,
.tst-form select:focus {
  border: 1px solid #ededed;
  outline: none;
}
.tst-form input::placeholder,
.tst-form select::placeholder {
  color: #ccc; /* Change this to the desired color */
}
.tst-form textarea {
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid #ededed;
  height: 100px;
  padding: 1em;
  z-index: 2;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  transition: all 0.3s ease;
  position: relative;
  resize: vertical;
  font-size: 14px;
  font-weight: bold;
}
.tst-form textarea:focus, .tst-form textarea:valid, .tst-form textarea:disabled {
  border-radius: 4px;
  background: #fff;
}
.tst-form textarea::placeholder {
  color: #ccc; /* Change this to the desired color */
}
.tst-form .tst-checkbox {
  margin: 0.25em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tst-form .tst-checkbox label input[type=checkbox] {
  display: none;
  display: none;
}
.tst-form .tst-checkbox label input[type=checkbox] + .cr > .cr-icon {
  opacity: 0;
}
.tst-form .tst-checkbox label input[type=checkbox]:checked + .cr {
  background: #008b5d;
  border: none;
}
.tst-form .tst-checkbox label input[type=checkbox]:checked + .cr > .cr-icon {
  opacity: 1;
  opacity: 1;
}
.tst-form .tst-checkbox label input[type=checkbox]:disabled + .cr {
  opacity: 0.5;
  opacity: 0.5;
}
.tst-form .tst-checkbox label:after {
  content: "";
  display: table;
  clear: both;
}
.tst-form .tst-checkbox > span {
  font-weight: 500;
}
.tst-form .tst-checkbox .cr {
  position: relative;
  display: inline-block;
  border: 2px solid #a9a9a9;
  border-radius: 0.25em;
  width: 20px !important;
  height: 20px !important;
  margin-right: 0.75em;
  background: #fff;
}
.tst-form .tst-checkbox .cr .cr-icon {
  position: absolute;
  font-size: 0.9em;
  line-height: 0;
  top: 50%;
  left: 20%;
  color: #fff !important;
}

.tst-btn {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #008b5d;
  color: #000;
}

.tst-btn-primary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #008b5d;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-primary i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-primary:hover {
  background: #00a56e;
}
.tst-btn-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #008b5d;
}

.tst-btn-outlined-primary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #008b5d;
  color: #008b5d;
}
.tst-btn-outlined-primary i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-primary:hover {
  background: #00a56e;
}
.tst-btn-outlined-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #008b5d;
}

.tst-btn-complement-primary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #008b5d;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #ff256d;
}
.tst-btn-complement-primary i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-primary:hover {
  color: #008b5d;
  background-color: #ff256d;
}
.tst-btn-complement-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #008b5d;
}

.tst-btn-secondary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #1688fe;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-secondary i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-secondary:hover {
  background: #2f95fe;
}
.tst-btn-secondary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #1688fe;
}

.tst-btn-outlined-secondary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #1688fe;
  color: #1688fe;
}
.tst-btn-outlined-secondary i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-secondary:hover {
  background: #2f95fe;
}
.tst-btn-outlined-secondary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #1688fe;
}

.tst-btn-complement-secondary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #1688fe;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #ffd7ae;
}
.tst-btn-complement-secondary i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-secondary:hover {
  color: #1688fe;
  background-color: #ffd7ae;
}
.tst-btn-complement-secondary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #1688fe;
}

.tst-btn-danger {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #f3627c;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-danger i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-danger:hover {
  background: #f57a90;
}
.tst-btn-danger:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #f3627c;
}

.tst-btn-outlined-danger {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #f3627c;
  color: #f3627c;
}
.tst-btn-outlined-danger i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-danger:hover {
  background: #f57a90;
}
.tst-btn-outlined-danger:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #f3627c;
}

.tst-btn-complement-danger {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #f3627c;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #f0fefb;
}
.tst-btn-complement-danger i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-danger:hover {
  color: #f3627c;
  background-color: #f0fefb;
}
.tst-btn-complement-danger:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #f3627c;
}

.tst-btn-green {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #008b5d;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-green i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-green:hover {
  background: #00a56e;
}
.tst-btn-green:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #008b5d;
}

.tst-btn-outlined-green {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #008b5d;
  color: #008b5d;
}
.tst-btn-outlined-green i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-green:hover {
  background: #00a56e;
}
.tst-btn-outlined-green:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #008b5d;
}

.tst-btn-complement-green {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #008b5d;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #ff256d;
}
.tst-btn-complement-green i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-green:hover {
  color: #008b5d;
  background-color: #ff256d;
}
.tst-btn-complement-green:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #008b5d;
}

.tst-btn-blue {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #1688fe;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-blue i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-blue:hover {
  background: #2f95fe;
}
.tst-btn-blue:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #1688fe;
}

.tst-btn-outlined-blue {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #1688fe;
  color: #1688fe;
}
.tst-btn-outlined-blue i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-blue:hover {
  background: #2f95fe;
}
.tst-btn-outlined-blue:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #1688fe;
}

.tst-btn-complement-blue {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #1688fe;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #ffd7ae;
}
.tst-btn-complement-blue i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-blue:hover {
  color: #1688fe;
  background-color: #ffd7ae;
}
.tst-btn-complement-blue:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #1688fe;
}

.tst-btn-yellow {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #ffcd4a;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-yellow i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-yellow:hover {
  background: #ffd464;
}
.tst-btn-yellow:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #ffcd4a;
}

.tst-btn-outlined-yellow {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #ffcd4a;
  color: #ffcd4a;
}
.tst-btn-outlined-yellow i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-yellow:hover {
  background: #ffd464;
}
.tst-btn-outlined-yellow:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #ffcd4a;
}

.tst-btn-complement-yellow {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #ffcd4a;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #e3ebff;
}
.tst-btn-complement-yellow i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-yellow:hover {
  color: #ffcd4a;
  background-color: #e3ebff;
}
.tst-btn-complement-yellow:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #ffcd4a;
}

.tst-btn-gray {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #727272;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-gray i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-gray:hover {
  background: #7f7f7f;
}
.tst-btn-gray:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #727272;
}

.tst-btn-outlined-gray {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #727272;
  color: #727272;
}
.tst-btn-outlined-gray i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-gray:hover {
  background: #7f7f7f;
}
.tst-btn-outlined-gray:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #727272;
}

.tst-btn-complement-gray {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #727272;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #bfbfbf;
}
.tst-btn-complement-gray i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-gray:hover {
  color: #727272;
  background-color: #bfbfbf;
}
.tst-btn-complement-gray:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #727272;
}

.tst-btn-gray-light {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: rgba(114, 114, 114, 0.5);
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-gray-light i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-gray-light:hover {
  background: rgba(127, 127, 127, 0.5);
}
.tst-btn-gray-light:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(114, 114, 114, 0.5);
}

.tst-btn-outlined-gray-light {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid rgba(114, 114, 114, 0.5);
  color: rgba(114, 114, 114, 0.5);
}
.tst-btn-outlined-gray-light i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-gray-light:hover {
  background: rgba(127, 127, 127, 0.5);
}
.tst-btn-outlined-gray-light:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(114, 114, 114, 0.5);
}

.tst-btn-complement-gray-light {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: rgba(114, 114, 114, 0.5);
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: rgba(191, 191, 191, 0.5);
}
.tst-btn-complement-gray-light i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-gray-light:hover {
  color: rgba(114, 114, 114, 0.5);
  background-color: rgba(191, 191, 191, 0.5);
}
.tst-btn-complement-gray-light:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(114, 114, 114, 0.5);
}

.tst-btn-white {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #fff;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-white i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-white:hover {
  background: white;
}
.tst-btn-white:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #fff;
}

.tst-btn-outlined-white {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #fff;
  color: #fff;
}
.tst-btn-outlined-white i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-white:hover {
  background: white;
}
.tst-btn-outlined-white:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #fff;
}

.tst-btn-complement-white {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: #fff;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: white;
}
.tst-btn-complement-white i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-white:hover {
  color: #fff;
  background-color: white;
}
.tst-btn-complement-white:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #fff;
}

.tst-btn-black {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-black i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-black:hover {
  background: rgba(13, 13, 13, 0.8);
}
.tst-btn-black:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(0, 0, 0, 0.8);
}

.tst-btn-outlined-black {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
}
.tst-btn-outlined-black i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-black:hover {
  background: rgba(13, 13, 13, 0.8);
}
.tst-btn-outlined-black:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(0, 0, 0, 0.8);
}

.tst-btn-complement-black {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: rgba(77, 77, 77, 0.8);
}
.tst-btn-complement-black i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-black:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(77, 77, 77, 0.8);
}
.tst-btn-complement-black:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(0, 0, 0, 0.8);
}

.tst-btn-trasparent {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.tst-btn-trasparent i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-trasparent:hover {
  background: rgba(13, 13, 13, 0);
}
.tst-btn-trasparent:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: transparent;
}

.tst-btn-outlined-trasparent {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid transparent;
  color: transparent;
}
.tst-btn-outlined-trasparent i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-outlined-trasparent:hover {
  background: rgba(13, 13, 13, 0);
}
.tst-btn-outlined-trasparent:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: transparent;
}

.tst-btn-complement-trasparent {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e2e2e9;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: rgba(77, 77, 77, 0);
}
.tst-btn-complement-trasparent i {
  font-size: 14px;
  margin-right: 0.5em;
}
.tst-btn-complement-trasparent:hover {
  color: transparent;
  background-color: rgba(77, 77, 77, 0);
}
.tst-btn-complement-trasparent:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: transparent;
}

.tst-spinner-square {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 50px;
}
.tst-spinner-square > .square {
  width: 8px;
  height: 80px;
  margin: auto auto;
  border-radius: 4px;
}
.tst-spinner-square .square-1 {
  animation: tst-square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite;
}
.tst-spinner-square .square-2 {
  animation: tst-square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms infinite;
}
.tst-spinner-square .square-3 {
  animation: tst-square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms infinite;
}

@keyframes tst-square-anim {
  0% {
    height: 30px;
    background-color: #008b5d;
  }
  20% {
    height: 30px;
  }
  40% {
    height: 50px;
    background-color: rgba(0, 139, 93, 0.5);
  }
  80% {
    height: 30px;
  }
  100% {
    height: 30px;
    background-color: #008b5d;
  }
}
#loading-spinner {
  width: 100px;
  height: 100px;
  position: relative;
}
#loading-spinner .spinner {
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loading-spinner .inner {
  border-top: 5px solid #008b5d;
  border-bottom: 5px solid #008b5d;
  width: 70px;
  height: 70px;
  margin: -35px;
  -webkit-animation: inner-spin 3s linear infinite;
  animation: inner-spin 3s linear infinite;
}
#loading-spinner .outer {
  border-right: 5px solid #008b5d;
  border-left: 5px solid #008b5d;
  width: 90px;
  height: 90px;
  margin: -45px;
  -webkit-animation: outer-spin 3s linear infinite;
  animation: outer-spin 3s linear infinite;
}
#loading-spinner .eye {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #008b5d;
  animation: eye-flash 3s infinite;
}
@-webkit-keyframes inner-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes inner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes outer-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate-(180deg);
  }
}
@keyframes outer-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes eye-flash {
  0% {
    background-color: #008b5d;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #008b5d;
  }
}

s-input {
  position: relative;
}
s-input:focus-within s-placeholder {
  top: -25px;
  background: #fff;
  z-index: 3;
  color: #008b5d;
  font-size: 0.9em;
}
s-input select option {
  font-weight: 600;
}
s-input input,
s-input select {
  width: 100%;
  outline: none;
  border: 1px solid #e2e2e9 !important;
  height: 45px;
  padding: 5px 10px;
  z-index: 2;
  background: transparent;
  font-size: 1.1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  transition: all 0.3s ease;
  position: relative;
  font-weight: 600;
  border-radius: 0.2em;
}
s-input input + s-placeholder,
s-input select + s-placeholder {
  position: absolute;
  background: transparent;
  top: -3px;
  left: 10px;
  transition: all 0.2s ease;
  padding: 0 5px;
  font-size: 1em;
  z-index: 1;
}
s-input input:valid,
s-input select:valid {
  border: 1px solid #e2e2e9 !important;
}
s-input input:valid + s-placeholder,
s-input select:valid + s-placeholder {
  top: -25px;
  background: #fff;
  z-index: 3;
  font-size: 0.9em;
}
s-input input:focus,
s-input select:focus {
  border: 1px solid #e2e2e9 !important;
}
s-input textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #1688fe;
  height: 200px;
  padding: 10px;
  z-index: 2;
  background: transparent;
  font-size: 1.1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  transition: all 0.3s ease;
  position: relative;
  resize: none;
  color: #1688fe;
  font-weight: 600;
}
s-input textarea + s-placeholder {
  color: #1688fe;
  position: absolute;
  top: -175px;
  left: 8px;
  transition: all 0.3s ease;
  padding: 0 5px;
}
s-input textarea:focus, s-input textarea:valid {
  background: #008b5d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
s-input textarea:focus + s-placeholder, s-input textarea:valid + s-placeholder {
  top: -200px;
  background: #fff;
  z-index: 3;
  color: #008b5d;
  font-size: 0.9em;
  left: 8px;
}
s-input s-label {
  color: #1688fe;
}
s-input s-prepend-icon {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 4;
  transition: all 0.2s ease;
  color: #fff;
  cursor: pointer;
  background: #008b5d;
  border: none;
  padding: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
s-input s-append-icon {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 4;
  transition: all 0.2s ease;
  color: #b48e4d;
  cursor: pointer;
  font-size: 20px;
}

s-radio label {
  display: flex;
  margin: 0.25em 0;
}
s-radio label input[type=radio] {
  appearance: none;
  margin: 0;
  margin-right: 0.75em;
  font: inherit;
  color: #c19d60;
  width: 1.6em;
  height: 1.6em;
  border: 0.15em solid #ccc;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
s-radio label input[type=radio]::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #c19d60;
}
s-radio label input[type=radio]:checked::before {
  transform: scale(1);
}
s-radio label input[type=radio]:checked {
  appearance: none;
  margin: 0;
  margin-right: 0.75em;
  font: inherit;
  color: #c19d60;
  width: 1.6em;
  height: 1.6em;
  border: 0.15em solid #c19d60;
  border-radius: 50%;
}

s-checkbox {
  margin: 0.25em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
s-checkbox label input[type=checkbox] {
  display: none;
  display: none;
}
s-checkbox label input[type=checkbox] + .cr > .cr-icon {
  opacity: 0;
  opacity: 0;
}
s-checkbox label input[type=checkbox]:checked + .cr {
  background: #008b5d;
}
s-checkbox label input[type=checkbox]:checked + .cr > .cr-icon {
  opacity: 1;
  opacity: 1;
}
s-checkbox label input[type=checkbox]:disabled + .cr {
  opacity: 0.5;
  opacity: 0.5;
}
s-checkbox label:after {
  content: "";
  display: table;
  clear: both;
}
s-checkbox > span {
  font-weight: 500;
}
s-checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.25em;
  width: 25px;
  height: 25px;
  padding: 5px 10px;
  margin-right: 0.75em;
}
s-checkbox .cr .cr-icon {
  position: absolute;
  font-size: 1em;
  line-height: 0;
  top: 55%;
  left: 15%;
  color: #1688fe;
}

.card-premium-account {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  color: #fff;
  padding: 1.5em 2.5em;
}
@media (max-width: 992px) {
  .card-premium-account {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }
}
.card-premium-account .tst-image {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
}
.card-premium-account .tst-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 1em;
}
.card-premium-account__content .title {
  font-size: 2em;
}
.card-premium-account__content .desc p {
  line-height: 28px;
}

.tst-app {
  display: grid;
  grid-template-columns: 300px calc(100% - 300px);
  width: 100vw;
  height: 100vh;
}
.tst-app .tst-side-mobile {
  display: none;
  height: 50px;
  gap: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tst-app .tst-side-mobile button {
  position: absolute;
  left: 1em;
  background: transparent;
  border: none;
  display: block;
  z-index: 2;
  cursor: pointer;
  font-size: 1.5em;
}
@media (max-width: 992px) {
  .tst-app {
    grid-template-columns: 100%;
  }
  .tst-app .tst-side {
    display: none !important;
  }
  .tst-app .tst-side-mobile {
    display: flex;
  }
}

.tst-app .tst-content {
  padding: 2em 3em;
  height: 100%;
  overflow: auto;
}
@media (max-width: 992px) {
  .tst-app .tst-content {
    padding: 1em;
  }
}
.tst-app .tst-content .img-profil {
  display: flex;
  justify-content: center;
}
.tst-app .tst-content .img-profil .tst-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.tst-app .tst-content .img-profil .tst-image img {
  object-fit: contain;
}
.tst-app .tst-content__footer {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 2em;
}
@media (max-width: 992px) {
  .tst-app .tst-content__footer {
    height: auto;
  }
}
.tst-app .tst-content__footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e2e2e9;
}
.tst-app .tst-content__footer ul {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  gap: 15px;
  color: #727272;
}
@media (max-width: 992px) {
  .tst-app .tst-content__footer ul {
    flex-wrap: wrap;
  }
}

.tst-app .tst-side {
  max-height: 100vh;
  border: 1px solid #e2e2e9;
  display: grid;
  grid-template-rows: 50px calc(100% - 100px) 50px;
  font-size: 0.8em;
}
@media (max-width: 992px) {
  .tst-app .tst-side.active {
    display: grid !important;
    grid-template-rows: calc(100% - 50px) 50px;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 50px;
    z-index: 999;
  }
  .tst-app .tst-side.active .tst-side__header {
    display: none;
  }
}
.tst-app .tst-side__header {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  border-bottom: 1px solid #e2e2e9;
  padding: 0.8em;
}
.tst-app .tst-side__content {
  padding: 0.8em;
  height: 100%;
  overflow: auto;
}
.tst-app .tst-side__content ul {
  margin-left: 0;
  padding-left: 0;
}
.tst-app .tst-side__content ul li {
  margin: 1em 0;
  position: relative;
}
.tst-app .tst-side__content ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tst-app .tst-side__content ul li a span {
  font-size: 1.2em;
  font-weight: 400;
}
.tst-app .tst-side__content ul li a span.bold {
  font-weight: 600;
}
.tst-app .tst-side__content ul li a img {
  width: 20px;
  height: 20px;
}
.tst-app .tst-side__content ul li .more {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #e2e2e9;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  cursor: pointer;
}
.tst-app .tst-side__content ul li .child {
  display: none;
}
.tst-app .tst-side__content ul li .child.active {
  display: block;
}
.tst-app .tst-side__footer {
  border-top: 1px solid #e2e2e9;
  padding: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tst-app .tst-side__footer .avatar {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tst-app .tst-side__footer .avatar .tst-image {
  width: 35px;
  height: 35px;
  border: 2px solid #e2e2e9;
  border-radius: 50%;
}
.tst-app .tst-side__footer .avatar .name {
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
