.tst-app {
  .tst-content {
    padding: 2em 3em;
    @include lg-max {
      padding: 1em;
    }
    height: 100%;
    overflow: auto;

    .img-profil {
      display: flex;
      justify-content: center;
      .tst-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        img {
          object-fit: contain;
        }
      }
    }

    &__footer {
      height: 60px;
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 2em;
      @include lg-max{
        height: auto;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $border-color;
      }
      ul {
        margin-left: 0;
        padding-left: 0;
        display: flex;
        gap: 15px;
        color: $gray;
        @include lg-max {
          flex-wrap: wrap;
        }
      }
    }
  }
}
